@font-face {
	font-family: "gotham";
	src: url("../fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
	font-family: "gothamL";
	src: url("../fonts/Gotham-Light.otf") format("opentype");
}
@font-face {
	font-family: "gothamT";
	src: url("../fonts/Gotham-Thin.otf") format("opentype");
}
@font-face {
	font-family: "gothamB";
	src: url("../fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
	font-family: "gothamU";
	src: url("../fonts/Gotham-Ultra.otf") format("opentype");
}
