@font-face {
	font-family:"nanum";
	src:url("../fonts/NanumGothic.eot");
	src:url("../fonts/NanumGothic.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumGothic.woff") format("woff");
}
@font-face {
	font-family:"nanumB";
	src:url("../fonts/NanumGothicBold.eot");
	src:url("../fonts/NanumGothicBold.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumGothicBold.woff") format("woff");
}
@font-face {
	font-family:"nanumEB";
	src:url("../fonts/NanumGothicExtraBold.eot");
	src:url("../fonts/NanumGothicExtraBold.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumGothicExtraBold.woff") format("woff");
}

@font-face {
	font-family:"barun";
	src:url("../fonts/NanumBarunGothic.eot");
	src:url("../fonts/NanumBarunGothic.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumBarunGothic.woff") format("woff");
}
@font-face {
	font-family:"barunB";
	src:url("../fonts/NanumBarunGothicBold.eot");
	src:url("../fonts/NanumBarunGothicBold.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumBarunGothicBold.woff") format("woff");
}

@font-face {
	font-family:"AgendaM";
	src: url('../fonts/Agenda-Medium.eot');
    src: url('../fonts/Agenda-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Agenda-Medium.woff') format('woff'),
         url('../fonts/Agenda-Medium.ttf') format('truetype'),
         url('../fonts/Agenda-Medium.svg#CalibriRegular') format('svg');
}
@font-face {
	font-family:"AgendaL";
	src: url('../fonts/Agenda-Light.eot');
    src: url('../fonts/Agenda-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Agenda-Light.woff') format('woff'),
         url('../fonts/Agenda-Light.ttf') format('truetype'),
         url('../fonts/Agenda-Light.svg#CalibriRegular') format('svg');
}
@font-face {
	font-family:"AgendaB";
	src: url('../fonts/Agenda-Bold.eot');
    src: url('../fonts/Agenda-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Agenda-Bold.woff') format('woff'),
         url('../fonts/Agenda-Bold.ttf') format('truetype'),
         url('../fonts/Agenda-Bold.svg#CalibriRegular') format('svg');
}
@font-face {
	font-family:"AgendaBl";
	src: url('../fonts/Agenda-Black.eot');
    src: url('../fonts/Agenda-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Agenda-Black.woff') format('woff'),
         url('../fonts/Agenda-Black.ttf') format('truetype'),
         url('../fonts/Agenda-Black.svg#CalibriRegular') format('svg');
}
@font-face {
	font-family:"AgendaLC";
	src: url('../fonts/Agenda-LightCondensed.eot');
    src: url('../fonts/Agenda-LightCondensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Agenda-LightCondensed.woff') format('woff'),
         url('../fonts/Agenda-LightCondensed.ttf') format('truetype'),
         url('../fonts/Agenda-LightCondensed.svg#CalibriRegular') format('svg');
}
@font-face {
	font-family:"AgendaBC";
	src: url('../fonts/Agenda-BoldCondensed.eot');
    src: url('../fonts/Agenda-BoldCondensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Agenda-BoldCondensed.woff') format('woff'),
         url('../fonts/Agenda-BoldCondensed.ttf') format('truetype'),
         url('../fonts/Agenda-BoldCondensed.svg#CalibriRegular') format('svg');
}