#visualwrap {
	position: relative; 
	width: 100%; 
	height: 100%; 
	overflow: hidden; 
	z-index: 90; 
}
#visual {
	width: 100%; 
	height: 100%; 
}

#visual .img img {width: 100%; margin:auto; }

#visual .text {
	position: absolute; 
	left: 17%; 
	top: 137px; 
	width: 100%; 
	font-size: 90px; 
	color: #fff; 
	line-height: 1.2; 
	text-transform: uppercase; 
	font-family: "AgendaBl"; 
}
#visual .link a {
	position: absolute; 
	left: 17%; 
	top: 500px; 
	font-size: 40px; 
	padding: 10px 50px; 
	color: #fff; 
	background: #b00808; 
	font-family: "AgendaB"; 
	}
#visual .link a:hover {background:#c10d0e; }


#container {
	width: 100%; 
	height: 3750px; 
	position: absolute; 
	top: 100%; 
	z-index: 100; 
}
#container:after {clear:both; content:""; display:block; }


#content {width:100%; height:100%; margin:auto; }
#content .c {position:relative; width:100%; height:700px; overflow:hidden; }
#content .c1 {background: #fff; }
#content .c1 h2 {position:relative; text-align:center; padding-top:50px; z-index:100; }
#content .c1 h2 strong {font-size:100px; font-family:"AgendaBC"; color:orange; line-height:0.8; }
#content .c1 h2 strong em {color:#b00808; }
#content .c1 h2 span {font-size:30px; font-family:"AgendaLC"; line-height:3; }
#content .c1 .left > img {position:absolute; left:-780px; top:0; width:80%; }
#content .c1 .right > img {position:absolute; right:-700px; top:-80px; width:80%; }

#content .c1 .cimg {
	width: 1285px; 
	position:absolute; 
	left: 50%; 
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);
}
#content .c1 .cimg li {
	float:left; 
	margin-left:15px; 
	border:5px solid orange; 
	border-radius:10px; 
	overflow: hidden; 
	
}
#content .c1 .cimg li:first-child {margin-left:0; }
#content .c1 .cimg li img {
	border-radius: 5px; 
	transition: 0.2s ease-in-out; 
}
#content .c1 .cimg li:hover img {
	transform: scale(1.05);
}



.bg {
	width: 100%; 
	height: 100%; 
	background: #333; 
 	opacity: 0.5; 
	position: absolute; 
	left: 0; 
	top: 0; 
	z-index: 100; 
}
.cpop {
	width: 1000px; 
	height: 87%;
	margin: auto; 
	border: 15px solid #ffc300; 
	background-color: #fff; 
	position: absolute; 
	left: 50%;
	top: 50%; 
	transform: translateY(-50%); 
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);	
	margin-left: -515px; 
	z-index: 110; 
	overflow: hidden; 
}
.cpop article {
	overflow: auto; 
	width: 100%; 
	height: 100%; 
	padding-right: 20px; 
	margin-left: 10px; 
}
.cpop article > img {
 	margin-top: 20px; 
 	margin-left: 50px; 
}
.cpop article > p {
	width: 880px; 
	font-family: "calibri"; 
	font-size: 16px; 
	padding: 10px 50px 10px 50px; 
}
.cpop article > p em {
	font-family: "AgendaB"; 
	font-size: 30px; 
}
.cpop article > .cimgsmall {
	width: 70%; 
	margin: auto; 
	margin-top: 20px; 
}
.cpop article > .cimgsmall li {
	font-family:"AgendaL";
	text-align: center; 
	width: 110px; 
	height: 110px; 
	float: left; 
	margin-left: 30px; 
	padding-bottom: 70px; 
}
.cpop article > .cimgsmall li:nth-of-type(1) {
	margin-left: 0; 
}
.cpop article > .cimgsmall li:nth-of-type(6) {
	margin-left: 0; 
	clear: both; 
}
.cpop article > .cimgsmall li:nth-of-type(11) {
	margin-left: 0; 
	clear: both; 
}
.cpop article > .cimgsmall li a img {
	margin-top: -30px; 
}
.cpop .cclose {
	position: absolute; 
	top: 5px; 
	right: 5px; 
}
.cpop .cclose2 {
	display: block; 
	width: 1000px; 
	height: 15px; 
	background: #ffc300; 
	color: #fff; 
	font-size: 14px; 
	text-align:center; 
	position: absolute; 
	top: 0; 
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);	
	line-height: 1.2; 
}



.c201 {
	width: 854px; 
	height: 525px; 
	border: 15px solid #ffc300; 
	border-top: none; 
	background-color: #fff; 
	position: absolute; 
	left: 50%;
	top: 50%; 
	margin-left: -440px; 
	transform: translateY(-50%); 
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);	
	z-index: 110; 
	overflow: hidden; 
}
.c201 > article {
	width: 854px; 
	height: 510px; 
	margin: auto; 
	margin-top: 15px; 
}
.c201 > article >p  {
	position: absolute; 
	top: 240px; 
	left: 340px; 
	
}




#content .c2 {background: #ffffdc; }
#content .c2 h2 {text-align:center; padding-top:50px; }
#content .c2 h2 em {font-size:100px; font-family:"AgendaBC"; color:#b00808; }
#content .c2 h2 span {font-size:50px; font-family:"AgendaLC"; line-height:1; }
#content .c2 h2 a {font-size:30px; font-family:"AgendaB"; color:#c10d0e; padding:10px 20px; border:5px solid #c10d0e; border-radius:15px; line-height:4; }
#content .c2 h2 a:hover {background:#c10d0e; color:#fff; }

#content .c2 ul {
	width: 920px; 
	position: absolute; 
	margin-top: 30px; 
	left: 50%; 
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);	
}
#content .c2 ul li {float:left; }
#content .c2 ul li a img {}

#content .c3 {background:#e13527; }
#content .c3 p {text-align:center; padding-top:50px; }
#content .c3 .signup {text-align:center; margin-top:-30px; }
#content .c3 .signup li {font-family:"AgendaLC"; color:#fff; }
#content .c3 .signup li:nth-child(1) {font-size:100px; font-family:"AgendaBC"; }
#content .c3 .signup li:nth-child(2) {line-height:1.5; font-size:30px; }
#content .c3 .signup li:nth-child(3) input {width:500px; font-size:20px; padding:10px 20px; background:#c10d0e; color:#fff; border-radius:15px; border:none; }
#content .c3 .signup li:nth-child(4) {line-height:1.5; font-size:18px; }
#content .c3 .signup li:nth-child(5) {line-height:2.4; }
#content .c3 .signup li:nth-child(5) a {padding:8px 40px; background:#fff; font-size:30px; color:#e13527; border-radius:15px; font-family:"AgendaB"; }
#content .c3 .signup li:nth-child(5) a:hover {background:#c10d0e; color:#fff; }

#content .c4 {width:100%; background:#ccc; }

#content .c4 .cover {
	position: absolute;
	top: 0; 
	left: 0;  
	width: 100%; 
	height: 100%; 
	background: rgba(51, 51, 51, 0.1); 
	z-index: 20; 
	cursor: pointer; 
}
#content .c4 .cover p {
	position: absolute; 
	top: 45%; 
	left: 50%; 
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);	
	width: 100%; 
	height: 50px; 
	background: rgba(51, 51, 51, 0.5); 
	color: #fff; 
	font-family:"AgendaB";
	font-size: 30px; 
	text-align: center; 
	
}

#content .c4 .allsns {
	position:relative; 
	width:1000px; 
	margin:auto; 
	padding-top:40px; 
	z-index: 10; 
}

/*#content .c4 .sns {float:left; width:300px; height:600px; margin-left:23px; }*/
#content .c4 .fb {float:left; }
#content .c4 .fb .fbinside {width:270px; height:470px; background:url(../images/bg_fb.jpg) no-repeat; margin-top:-3px; overflow-y:scroll; padding-top:20px; padding-left:30px; }
#content .c4 .fb .fbinside li {position:relative; width:220px; height:160px; margin-top:25px; }
#content .c4 .fb .fbinside li:first-child {margin-top:0; }
#content .c4 .fb .fbinside li h4 {float:left; }
#content .c4 .fb .fbinside li a {width:220px; height:85px; display:block; border:1px solid #eee; }
#content .c4 .fb .fbinside li a span {text-align:left; position:absolute; left:95px; top:10px; line-height:1.5; font-family:"AgendaL"; }
#content .c4 .fb .fbinside li a span em {font-family:"AgendaB"; }
#content .c4 .fb .likeit {position:absolute; left:80px; top:50px; transform:scale(0.6); }
#content .c4 .fb .fbinside li p {color:#fff; }

#content .c4 .tw {width:300px; margin:auto; }
#content .c4 .tw .twinside {width:270px; height:470px; background:url(../images/bg_tw.jpg) no-repeat; margin-top:-4px; overflow-y:scroll; padding-top:20px; padding-left:30px; }
#content .c4 .tw .twinside li {position:relative; width:220px; height:90px; padding-bottom:11px; border-bottom:1px dashed gray; }
#content .c4 .tw .twinside li h5 {line-height:2; color:#ddd; }
#content .c4 .tw .twinside li h5 em {font-weight:bold; color:#fff; }
#content .c4 .tw .twinside li a {}
#content .c4 .tw .twinside li span a {color:#fff}
#content .c4 .tw .twinside li .date {clear:both; line-height:2; color:#ddd; }


#content .c4 .in {position:absolute; right:0; top:40px; }
#content .c4 .in .ininside {width:270px; height:470px; background:url(../images/bg_in.jpg) no-repeat; margin-top:-25px; overflow-y:scroll; padding-top:20px; padding-left:30px; }
#content .c4 .in .ininside li {position:relative; width:220px; height:140px; margin-top:25px; }
#content .c4 .in .ininside li:first-child {margin-top:0; }
#content .c4 .in .ininside li a {display:block; }
#content .c4 .in .ininside li p {line-height:1.1; color:#fff; margin-top:5px; }
#content .c4 .in .ininside li p a {display:inline; font-family:"AgendaL"; color:#ccc; }

#content .c4 .like a {width:300px; height:50px; color:#fff; display:block; text-align:center; font-size:30px; text-transform:uppercase; font-family:"AgendaB"}
#content .c4 .l1 a {background:#456db2; }
#content .c4 .l2 a {background:#2da3d1; }
#content .c4 .l3 a {background:#444444; }


#content .c5 {
	width:100%; 
	margin:auto; 
	background:url(../images/worldmap.jpg); 
}
#content .c5 .map {
	padding-top:200px; 
}
#content .c5 .map li, #content .c4 ul li a {
	text-align:center; 
	font-family:"AgendaLC"; 
	color:#fff; 
}
#content .c5 .map li:nth-child(1) {font-size:100px; font-family:"AgendaBC"; text-shadow:2px 2px 10px #333; }
#content .c5 .map li:nth-child(2) {line-height:1.5; font-size:50px; }
#content .c5 .map li:nth-child(3) input {width:400px; font-size:20px; color:#fff; font-family:"AgendaL"; padding:10px 20px; background:rgba(255, 255, 255, 0.3); border-radius:15px; border:none; }
#content .c5 .map li:nth-child(4) a {font-size:50px; font-family:"AgendaB"; line-height:1.4; color:#fff; }
#content .c5 .map li:nth-child(4) a:hover {text-shadow:1px 1px 5px #333; }


#footerwrap {
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	height: 250px; 
	z-index: 50; 
	opacity: 0; 
}
#footer {width:1000px; margin:auto; }
#footer .fmenu {margin-top:20px; border-top:10px solid #c10d0e; }
#footer .fmenu li {float:left; width:250px; }
#footer .fmenu li a {padding-left:10px; display:block; height:100px; }
#footer .fmenu li a:hover {background:#eee; }
#footer .fmenu li a em {font-size:15px; font-family:"AgendaB"; color:#b00808; text-transform:uppercase; line-height:2; }
#footer .fmenu li a span {line-height:1.2; }


#bottomM {
	position:fixed; 
	bottom: 5px; 
	width: 100%; 
	height: 5%; 
	z-index: 1001; 
}
#bottomM .shortcut {
	position: absolute; 
	margin-left: 5px; 
	left: 50%; 
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);
	height: 100%; 
}
#bottomM .shortcut li {
	float:left; 
	width: 40px; 
}
#bottomM .shortcut li a {
	display:block; 
	width: 30px; 
	height: 30px; 
	border-radius: 20px 20px; 
	background:#c10d0e; 
	color:#fff; 
	font-size:16px; 
	text-align:center; 
	line-height:1.7; 
}
#bottomM .shortcut li a.on {background:#ffc300; }
#bottomM .shortcut li a:hover {background:#ffc300;  }

.on {background:#ffc300; }


#hider {
	position:fixed; 
	bottom: 0; 
	width: 100%; 
	height: 9%; 
	background: #fff; 
	line-height: 2.6; 
	z-index: 50; 
	opacity: 0; 
}
#hider .fnav {
	width: 1000px; 
	margin: auto; 
	clear:both; 
}
#hider .fnav li {float:left; margin-left:20px; }
#hider .fnav li:first-child {margin-left:0; }
#hider address {
	width: 1000px; 
	margin: auto; 
	clear:both; 
}
#hider .back {
	position: relative; 
	width: 1000px; 
	margin: auto; 
}
#hider .back a {
	position: absolute; 
	right: 0; 
	bottom:0;
}
#hider .back a img {
	margin-left: 5px; 
	margin-bottom: 5px; 
}