#gnb .m:nth-child(3) {background:#eee; }

#subcontainer {
	position: relative; 
	width: 1200px; 
	height: 100%; 
	margin: auto; 
	background: #fff; 
}
#subcontainer:after {clear:both; content:""; display:block; }
#subcontainer:after {
	position: absolute; 
	top: 105px; 
	left: 50%; 
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);	
	margin-left: -20px; 
	display:block; 
	content:""; 
	clear:both;
	width:40px; 
	height:40px; 
	background:#c8d1da; 
	transform:rotate(315deg); 
	z-index:30; 
}

#submenu {width: 200px; }

#sidebar {float: left; }
#sidebar nav {padding: 20px 0; }
#sidebar .sidenav {width: 180px; }
#sidebar .sidenav .s {
	width: 180px; 
	border-bottom: 1px solid #ccc; }
#sidebar .sidenav .s a {
	height: 35px; 
	display: block; 
	color: #333; 
	line-height: 2.4; 
	text-indent: 10px; 
	font-size: 14px; 
	transition: 0.2s ease-in-out; 
	background: #fff; 
}

#sidebar .sidenav .s a:hover {
	background: #ccc; 
	color: #333; 
}
#sidebar .sidenav .s ul li a {
	line-height: 2.8; 
	text-indent: 20px; 
	background: #fff; 
	color: #333; 
	font-size: 12px; 
}
#sidebar .sidenav .s ul li a:hover {background: #eee; }

.sideon {background: #ccc; }

#content {
	position: relative; 
	margin-left: 200px; 
	width: 1000px; 
	height: 1000px; 
}
#content .subnav {
	position: absolute; 
	right: 0; 
	top: 35px; 
	z-index: 100; 
}
#content .subnav ul li {
	float: left; 
	margin-left: 10px; 
	color: #6b6b6b; 
}
#content .subnav ul li span {
	color: #333; 
	margin-left: 10px; 
}
#content .subnav ul li em {
	color: #333; 
	font-weight: 600; 
}
#content .subnav ul li a {color: #6b6b6b; }
#content .subnav ul li a:hover {color: #333; }

.subon {
	position: fixed; 
	top: 20px; 
	width: 220px; 
}

#subcontainer {
	padding-top: 130px; 
	z-index: 90; 
}

#content {height: 1300px; }
#content .submain {
	position: relative; 
	width: 1000px; 
	height: 945px; 
	padding-top: 55px; 
}
#content .submain h3 {
	position: absolute; 
	right: 5px; 
	top: 60px; 
	color: #333; 
	font-size: 22px; 
	text-transform: uppercase; 
	z-index: 100; 
}

#choose {
	margin-top: 10px; 
	margin-left: 250px; 
}
#choose li {
	float: left; 
	padding: 10px; 
	font-size: 12px; 
	border-left: 1px solid #ccc; 
	cursor: pointer; 
	transition: 0.3s ease-in-out; 
}
#choose li:first-child {border: none; }
#choose li:hover {background: #eee; }

.chooseon {background: #ddd; }

.subBox {margin-top: 50px; }
.subBox .car {
	width: 200px; 
	height: 100px; 
	margin: 20px; 
	text-align: center; 
}
.subBox .car a {
	position: relative; 
}
.subBox .car a img {
	width: 80%; 
	margin-top: 10px; 
	margin-left: 5px; 
}
.subBox .car a span {
	display: block; 
	margin-top: 10px; 
}
.subBox .car a em {
	position: absolute; 
	margin-top: -70px; 
	margin-left: -25px; 
	width: 50px; 
	height: 50px; 
	border-radius: 50px; 
	background: rgba(51, 51, 51, 0.5); 
	color: #fff; 
	font-size: 16px; 
	text-align: center; 
	line-height: 3; 
	transition: 0.5s ease-in-out 0.3s; 
}
.subBox .car a .new {
	position: absolute; 
	width: 32px; 
	margin-top: -100px; 
	margin-left: -80px; 
}
