@font-face {
	font-family:"nanum";
	src:url("../fonts/NanumGothic.eot");
	src:url("../fonts/NanumGothic.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumGothic.woff") format("woff");
}
@font-face {
	font-family:"nanumB";
	src:url("../fonts/NanumGothicBold.eot");
	src:url("../fonts/NanumGothicBold.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumGothicBold.woff") format("woff");
}
@font-face {
	font-family:"nanumEB";
	src:url("../fonts/NanumGothicExtraBold.eot");
	src:url("../fonts/NanumGothicExtraBold.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumGothicExtraBold.woff") format("woff");
}

@font-face {
	font-family:"barun";
	src:url("../fonts/NanumBarunGothic.eot");
	src:url("../fonts/NanumBarunGothic.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumBarunGothic.woff") format("woff");
}
@font-face {
	font-family:"barunB";
	src:url("../fonts/NanumBarunGothicBold.eot");
	src:url("../fonts/NanumBarunGothicBold.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/NanumBarunGothicBold.woff") format("woff");
}

@font-face {
	font-family:"AgendaM";
	src:url("../fonts/Agenda-Medium.ttf") format("truetype");
	src:url("../fonts/Agenda-Medium.otf") format("opentype");
	src:url("../fonts/Agenda-Medium.eot") format("embedded-opentype");
}
@font-face {
	font-family:"AgendaL";
	src:url("../fonts/Agenda-Light.ttf") format("truetype");
	src:url("../fonts/Agenda-Light.otf") format("opentype");
	src:url("../fonts/Agenda-Light.eot") format("embedded-opentype");
}
@font-face {
	font-family:"AgendaB";
	src:url("../fonts/Agenda-Bold.ttf") format("truetype");
	src:url("../fonts/Agenda-Bold.otf") format("opentype");
	src:url("../fonts/Agenda-Bold.eot") format("embedded-opentype");
}
@font-face {
	font-family:"AgendaBl";
	src:url("../fonts/Agenda-Black.ttf") format("truetype");
	src:url("../fonts/Agenda-Black.otf") format("opentype");
	src:url("../fonts/Agenda-Black.eot") format("embedded-opentype");
}
@font-face {
	font-family:"AgendaLC";
	src:url("../fonts/Agenda-LightCondensed.ttf") format("truetype");
	src:url("../fonts/Agenda-LightCondensed.otf") format("opentype");
	src:url("../fonts/Agenda-LightCondensed.eot") format("embedded-opentype");
}
@font-face {
	font-family:"AgendaBC";
	src:url("../fonts/Agenda-BoldCondensed.ttf") format("truetype");
	src:url("../fonts/Agenda-BoldCondensed.otf") format("opentype");
	src:url("../fonts/Agenda-BoldCondensed.eot") format("embedded-opentype");
}