#visual {position:relative; width:100%; height:100%; margin:auto; background:#f0f0f0; }

#visual .imgView {height:440px; }
#visual .imgView > ul {position:relative; }
#visual .imgView > ul li {font-size: 14px; }

#visual .imgView > ul li:nth-child(1) {
	width:100%; 
	height:440px; 
	background:url(../images/visual/visual0__.jpg) no-repeat scroll 0% 40% / cover; 
	overflow:visible;
}
#visual .imgView > ul li:nth-child(2) {
	width:100%; 
	height:440px; 
	background:url(../images/visual/visual1.jpg) no-repeat scroll 0 40% / cover; 
	overflow:visible;
}
#visual .imgView > ul li:nth-child(3) {
	width:100%; 
	height:440px; 
	background:url(../images/visual/visual2.png) no-repeat scroll 55% -50% ; 
	overflow:visible;
}
#visual .imgView > ul li:nth-child(4) {
	width:100%; 
	height:440px; 
	background:url(../images/visual/visual3.jpg) no-repeat scroll 0% 40% / cover; 
	overflow:visible;
}
#visual .imgView > ul li:nth-child(5) {
	width:100%; 
	height:440px; 
	background:url(../images/visual/visual0__.jpg) no-repeat scroll 0% 40% / cover; 
	overflow:visible;
}

#visual .imgView > ul li:nth-child(1) span {
	position: absolute; 
	width: 360px; 
	height: 50px; 
	margin-top: 15%; 
	left: 50%; 
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);	
	text-align:center; 
	background: #004080; 
}
#visual .imgView > ul li:nth-child(1) span a {
	font-size: 30px; 
	font-family:"segoeuib";
	line-height:1.5; 
	color: #fff; 
	text-shadow: #333 2px 2px 2px; 
}
#visual .imgView > ul li:nth-child(2) span {
	position: absolute; 
	width: 500px; 
	margin-top: 6%; 
	left: 50%; 
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);	
	margin-left: -200px; 
	text-align:center; 
	line-height:1.5; 
}
#visual .imgView > ul li:nth-child(3) span {
	position: absolute; 
	width: 500px; 
	margin-top: 2%; 
	left: 50%; 
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);	
	margin-left: -110px; 
	text-align:center; 
	line-height:1.5; 
}
#visual .imgView > ul li:nth-child(4) span {
	position: absolute; 
	width: 500px; 
	margin-top: 8%; 
	left: 50%; 
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);	
	margin-left: 330px; 
	text-align:center; 
	line-height:1.5; 
}
#visual .imgView > ul li:nth-child(5) span {
	position: absolute; 
	width: 360px; 
	height: 50px; 
	margin-top: 15%; 
	left: 50%; 
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);	
	text-align:center; 
	background: #004080; 
}
#visual .imgView > ul li:nth-child(5) span a {
	font-size: 30px; 
	font-family:"segoeuib";
	line-height:1.5; 
	color: #fff; 
	text-shadow: #333 2px 2px 2px; 
}
#visual .imgView > ul li span em {
	font-size:24px; 
	font-family: "segoeuib"; 
}
#visual .imgView > ul li span strong {
	line-height:1.5; 
	font-size:20px; 
	text-decoration:underline; 
}
#visual .imgView > ul li span ul {margin-top:5px; }
#visual .imgView > ul li span ul li {float:left; }

#visual .imgList {
	position:absolute; 
	width: 500px; 
	left: 50%; 
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);	
	top:5%; 
	margin-left: -250px; 
}
#visual .imgList li {overflow:hidden; text-indent:-9999em; width:7px; height:7px; margin-bottom:6px; background:rgba(51, 51, 51, 0.8); cursor:pointer; 
}
#visual .imgList li.on {background:skyblue; }





#content {
	position: relative; 
	width: 1000px; 
	height: 680px; 
	margin: auto; 
	margin-top: -75px; 
}
#content .content_top {
	width:1000px; 
	height:270px; 
	padding-top:10px; 
}
#content .content_top dl {
	position: relative; 
	float: left; 
	border: 1px solid silver; 
	width: 238px; 
	height: 238px; 
	margin-left: 13.3px; 
	transition: 0.5s ease-in-out; 
	background: rgba(255, 255, 255, 0.9); 
}
#content .content_top dl:first-child {margin-left:0; }

#content .content_top dl:nth-child(1):hover {background:#ffd55c; }
#content .content_top dl:nth-child(2):hover {background:#21d8de; }
#content .content_top dl:nth-child(3):hover {background:#ff6d3b; }
#content .content_top dl:nth-child(4):hover {background:#3e4958; color:#fff; }

#content .content_top dl:nth-child(1):hover .content_top1 {transform:scale(1.1); }
#content .content_top dl:nth-child(2):hover .content_top2 {transform:scale(1.1); }
#content .content_top dl:nth-child(3):hover .content_top3 {transform:scale(1.1); }
#content .content_top dl:nth-child(4):hover .content_top4 {transform:scale(1.1); }

#content .content_top dl dt {position:absolute; left:12px; top:6px; font-size:14px; }
#content .content_top dl > a {
	position:absolute; 
	right:10px; 
	top:8px; 
	width:40px; 
	height:40px; 
	display:inline-block; 
	transition: 0.5s ease-in-out; 
	background:url(../images/main/arrow1.png) no-repeat 20px 0;
}
#content .content_top > dl:nth-of-type(4):hover > a {
	background:url(../images/main/arrow2.png) no-repeat 20px 0;
}
#content .content_top dl span {
	position:absolute; 
	right:10px; 
	top:30px; 
	width:20px; 
	height:20px; 
	display:inline-block; 
	transition: 0.5s ease-in-out; 
	opacity: 0; 
	background:url(../images/main/finger1.png);
}
#content .content_top > dl:hover > span {opacity: 1; }
#content .content_top > dl:nth-child(4):hover > span {
	background:url(../images/main/finger2.png);
}
#content .content_top dl dd:nth-child(4) {
	position:absolute; 
	left:50px; 
	top:40px; 
	text-indent:-9999em; 
	overflow:hidden; 
	width:140px; 
	height:140px; 
	background-size:cover; 
}
#content .content_top .ctText {
	text-align:center; 
	width:100%; 
	margin-left:-10px; 
	position:absolute; 
	left:10px; 
	bottom:10px; 
}



#content .content_top dl .more {
	position: absolute;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 228px; 
	background: #fff; 
}
#content .content_top dl .more1 {
	border-top: 10px solid #ffd55c; 
}
#content .content_top dl .more1 ul li.mm1 {
	background: #fff; 
	transition: 0.3s linear; 
}
#content .content_top dl .more1 ul li.mm1:hover {
	background: #ffd55c; 
}
#content .content_top dl .more2 {
	border-top: 10px solid #21d8de; 
}
#content .content_top dl .more2 ul li.mm2 {
	background: #fff; 
	transition: 0.3s linear; 
}
#content .content_top dl .more2 ul li.mm2:hover {
	background: #21d8de; 
}
#content .content_top dl .more3 {
	border-top: 10px solid #ff6d3b; 
}
#content .content_top dl .more3 ul li.mm3 {
	background: #fff; 
	transition: 0.3s linear; 
}
#content .content_top dl .more3 ul li.mm3:hover {
	background: #ff6d3b; 
}
#content .content_top dl .more4 {
	border-top: 10px solid #3e4958; 
}
#content .content_top dl .more4 ul li.mm4 {
	background: #fff; 
	transition: 0.3s linear; 
}
#content .content_top dl .more4 ul li.mm4:hover {
	background: #3e4958; 
}
#content .content_top dl .more4 ul li.mm4:hover a {
	color: #fff; 
}
#content .content_top dl .more ul {
	width: 100%; 
	margin: auto; 
	margin-top: 15px; 
}
#content .content_top dl .more ul li {
	width: 100%; 
	height: 40px; 
	text-align: center; 
}
#content .content_top dl .more ul li a {
	font-size: 20px; 
	display: block; 
	line-height: 1.8; 
}
#content .content_top dl .more ul li:last-child a {
	font-size: 14px; 
	line-height: 3; 
}


#content .content_top1 {background:url(../images/main/menu01.png); transition: 0.5s ease-in-out; }
#content .content_top2 {background:url(../images/main/menu02.png); transition: 0.5s ease-in-out; }
#content .content_top3 {background:url(../images/main/menu03.png); transition: 0.5s ease-in-out; }
#content .content_top4 {background:url(../images/main/menu04.png); transition: 0.5s ease-in-out; }

#content .content_mid {
	position:relative; 
	top:5px; 
	width:1000px; 
	height:150px; 
	padding-top:10px; 
	display:block; 
}
#content .content_mid p {margin-left: 0; }
#content .content_mid p:nth-child(1) {font-size:14px; }
#content .content_mid p:nth-child(2) {font-size:24px; font-family: "segoeuib"; }
#content .content_mid p:nth-child(3) {font-size:12px; line-height: 1.6; }

#slide {
	position: absolute; 
	right: 25px; 
	top: -5px; 
	width: 710px; 
	height: 180px; 
	overflow: hidden;
	z-index: 20; 
}
#slide > ul {
	margin-top: 20px; 
	width: 2000px; 
	position: absolute; 
}
#slide > ul li {float:left; margin-left:10px; text-align:center; }
#slide > ul li:first-child {margin-left:0px; }
#slide > ul li.prev {margin-top:35px; margin-right:10px; }
#slide > ul li.next {margin-top:35px; margin-left:10px; }
#slide .mp img {width:170px; height:100%; display:block; }

#slide .mp {position:relative; }
#slide .mp .mpimg {
	width: 170px; 
	height: 114px; 
	transform:translateY(0px); 
	-webkit-transform:translateY(0px); 
	-ms-transform:translateY(0px); 
	transition:0.35s ease-in-out; 
}
#slide .mp:hover .mpimg {
	transform:translateY(-20px); 
	-webkit-transform:translateY(-20px); 
	-ms-transform:translateY(-20px); 
	transition:0.35s ease-in-out; 
}

#slide .mp .info {width:170px; }
#slide .mp .info h3 {
	padding:3px 0; 
	transform:translateY(0px); 
	-webkit-transform:translateY(0px); 
	-ms-transform:translateY(0px); 
	transition:all 0.35s ease-in-out 0s; 
	text-transform:uppercase; 
	display:block; 
	z-index:100; 
	display:block; 
	color: #333; 
	opacity: 1; 
}

#slide .mp:hover .info h3 {
	transform:translateY(-20px); 
	-webkit-transform:translateY(-20px); 
	-ms-transform:translateY(-20px); 
	color: #fff; 
}
#slide .mp1:hover .info h3 {background:#dc3701; }
#slide .mp2:hover .info h3 {background:#007234; }
#slide .mp3:hover .info h3 {background:#ba131a; }
#slide .mp4:hover .info h3 {background:#442358; }
#slide .mp5:hover .info h3 {background:#0072c5; }
#slide .mp6:hover .info h3 {background:#0bbff2; }
#slide .mp7:hover .info h3 {background:#00204f; }
#slide .mp8:hover .info h3 {background:#9b4f97; }

#slide .mp .info > span {
	position:absolute; 
	left: 50%; 
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);	
	width: 170px; 
	bottom: -20px; 
	opacity:0; 
	transition: all 0.35s ease-in-out; 
	text-align: center; 
}
#slide .mp:hover .info > span {opacity:1; bottom:-8px; }



#slidearrow {
	position: absolute; 
	right: 0; 
	top: 45px; 
	width: 760px; 
	height: 60px; 
	z-index: 10; 
}
#slidearrow ul li img {
	cursor: pointer; 
}
#slidearrow ul li.prev{
	float: left; 
}
#slidearrow ul li.next{
	float: right; 
}





#content .content_bottom {position:absolute; bottom:-30px; position:relative; width:1000px; height:145px; }


#content .content_bottom ul span em {font-family:"segoeuib"; font-size:24px; }
#content .content_bottom ul span {text-align:center; line-height:1.4; }

#content .content_bottom ul:first-child {position:absolute; left:0; top:0; }
#content .content_bottom ul:first-child span {position:absolute; left:220px; top:30px; }

#content .content_bottom ul:last-child {position:absolute; right:0; top:0; }
#content .content_bottom ul:last-child span {position:absolute; right:200px; top:30px; }

#content .content_bottom ul {overflow:hidden; }
#content .content_bottom ul li {width: 493px; }
#content .content_bottom ul li img {transition: 0.4s ease-in-out; }
#content .content_bottom ul:hover li img {transform:scale(1.02)}
