#content p {position:absolute; left:50px; top:85px; }
#content p img {width:330px; height:70px; }
#content p:after {position:absolute; left:500px; top:0; clear:both; content:""; display:block; width:177px; height:176px; background:url(../images/sub/sublogo.jpg)}

#content h3 {position:absolute; left:50px; top:250px; font-size:28px; font-family: "segoeuib"; }
#content dl {position:absolute; left:50px; top:290px; }
#content dl dt {font-size:22px; color:#848484; line-height:1.2; }
#content dl dd {margin-top:10px; width:210px; }
#content dl dd:nth-child(5) {position:absolute; left:240px; top:53px; }
#content dl dd:nth-child(6) {position:absolute; left:240px; top:117px;}
#content .ceoimg {position:absolute; left:310px; top:560px; text-indent:-9999em; overflow:hidden; display:block; width:440px; height:388px; background:url(../images/sub/ceoback.jpg)}