#visual {width:100%; height:6px; margin:auto; }

#container {position:relative; width:1000px; height:954px; margin:auto; }
#menu {}
#menu .leftmenu {position:absolute; width:200px; left:0; top:0; margin-left:5px; }
#menu .leftmenu dl {position:absolute; left:0; top:30px; }
#menu .leftmenu dl dt {font-size:24px; font-family: "segoeuib"; margin-bottom:25px; }
#menu .leftmenu dl dt:after {position:absolute; left:-1px; top:59px; clear:both; content:""; display:block; width:130px; height:4px; background:url(../images/sublayout/menuline.jpg) repeat-x; }
#menu .leftmenu dl dd {width:180px; margin-left:10px; border-top:1px solid silver; font-size:16px; color:#6b6b6b; line-height:1.8; }
#menu .leftmenu dl dd em {color:#333; }
#menu .leftmenu dl dd em:before {position:absolute; left:-2px; top:132px; clear:both; content:""; display:block; width:9px; height:10px; background:url(../images/sublayout/here.jpg); }
#menu .leftmenu dl dd:last-child {border-bottom:1px solid silver; }

#menu .leftmenu dl dd a {margin-left:5px; color:#6b6b6b; }
#menu .leftmenu dl dd a:hover {color:#333; }

#menu .submenu {position:absolute; right:0; top:0; height:50px; z-index:90; }
#menu .submenu ul {margin-top:33px; }
#menu .submenu ul li {float:left; margin-left:3px; color:#6b6b6b; }
#menu .submenu ul li em {float:left; margin-left:3px; color:#333; }

#menu .submenu ul li a {color:#6b6b6b; }
#menu .submenu ul li a:hover {color:#333; }

#content {position:absolute; right:0; top:0; width:800px; height:954px; }
